{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    ["@babel/preset-env", { "node": "4.8.7", "exclude": ["transform-regenerator"] }],
    "@babel/preset-flow"
  ],
}
